<h1>ユーザー編集画面</h1>
<h2><%= @user.name %>さんの編集</h2>
<%= form_tag("/users/#{@user.id}/update") do%>
<p><input name = "name" value = "<%=@user.name%>"></p>
<p><input name = "mail" value = "<%=@user.mail%>"></p>
<input type = "submit" value = "更新">
<%end%>
