<div name = "login-page">
  <h1>imarepo</h1>
  <h2>ログインページ</h2>
  <div class = "login">
    <div　name ="login-form">
      <p>メールアドレス</p>
      <input name = "email">
      <p>パスワード</p>
      <input name = "password" type = "password">
      <input id = "submit_ button" type = "submit" value ="ログイン">
    </div>
  </div>
</div>
