<div name ="report">
  <h1>レポート新規作成</h1>
  <div name ="report_form">
    ・誰に送信する？
  <p><input name = "to_user"></p>
    ・いつ？
  日時：<p><input name = "date"></p>
  時間：<p><input name = "in_time">~<input name = "out_time"></p>
  ・どこへ？
  <p><input name = "adress"></p>
  </div>
</div>
